<template>
  <button :class="classnames">
    {{ buttonTitle }}
  </button>
</template>

<script>
export default {
  props: {
    buttonTitle: {
      type: String,
      required: true,
    },
    classname: String,
  },
  computed: {
    classnames() {
      return this.classname ? `btn ${this.classname}` : "btn";
    },
  },
};
</script>

<style lang="scss" scoped>
.btn {
  box-sizing: border-box;
  padding: 18px 36px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ccc;
  transition: all 0.1s ease;
  margin: 24px 0;
}
.full-size {
  width: 100%;
}
.btn-main {
  //background: #5d2057;
  background: #42b983;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 10%), 0px 4px 0px #2a7654;
  color: #f6f6f6;

  &:hover {
    box-shadow: none;
    transform: translateY(4px);
  }
}
</style>
