<template>
  <div class="card-item">
    <div class="card-header">
      <img :src="require(`@/assets/${country.name.toLowerCase()}.jpg`)" :alt="country.name" class="main-img" />
    </div>
    <div class="card-body">
      <div class="name-wrapper">
        <h4 class="card-name">{{ country.name }}</h4>
        <img :src="require(`@/assets/flags/${country.name.toLowerCase()}.png`)" :alt="country.name" class="flag" />
      </div>
      <p class="card-description">{{ country.description }}</p>
    </div>
    <div class="card-footer"></div>
  </div>
</template>

<script>
export default {
  props: {
    country: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.card-item {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  margin-bottom: 16px;

  &:not(:nth-child(4n)) {
    margin-right: 24px;
  }
}
.card-header {
  height: 60%;
  margin-bottom: 8px;
}
.main-img {
  //border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-body {
  color: #262626;
  height: 20%;
  overflow: hidden;
  padding: 0 10px;
}

.name-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.card-name {
  font-size: 16px;
  font-weight: 500;
}

.flag {
  border-radius: 50%;
  width: 35px;
  height: 25px;
}

.card-description {
  font-size: 13px;
  font-weight: 300;
  color: #404040;
}

.card-footer {
  overflow: hidden;
}
</style>

<!--<img :src="require(`@/assets/flags/${country.name.toLowerCase()}.svg`)" :alt="country.name"-->
