<template>
  <div class="cards-section-wrapper">
    <div class="cards-section">
      <h2 class="section-title">Most popular destinations</h2>
      <div class="main-section">
        <CardItem v-for="country in countries" :key="country.id" :country="country"></CardItem>
      </div>
    </div>
  </div>
</template>

<script>
import CardItem from "@/components/CardsSection/CardItem.vue";
import jsonData from "@/mocks/countries.json";

export default {
  data() {
    return {
      countries: jsonData,
    };
  },
  components: {
    CardItem,
  },
};
</script>

<style>
.cards-section-wrapper {
  background: #dbdbe3;
}
.cards-section {
  color: #262626;
  margin: auto 80px;
  padding: 40px 0 40px 24px;
}
.main-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.section-title {
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 16px;
  text-align: left;
}
</style>
