<template>
  <div class="welcome-wrapper">
    <div class="hero-content">
      <div class="left-hero-side">
        <h1 class="hero-title">Welcome to relocation quiz!</h1>
        <p class="hero-description">
          Have a mood to move on? Don't know exactly where to go? Doubts about taxes and culture life at new place? Here
          you can find a nice place to immigrate or get new ideas about relocation!
        </p>
        <ButtonFlex buttonTitle="Start quiz" classname="btn-main full-size" />
      </div>
      <div class="right-hero-side">
        <img :src="startSrc" alt="start picture" />
      </div>
    </div>
  </div>
</template>

<script>
import ButtonFlex from "@/components/ButtonFlex/ButtonFlex.vue";
export default {
  data() {
    return {
      startSrc: require("@/assets/start.jpg"),
    };
  },
  components: {
    ButtonFlex,
  },
};
</script>

<style lang="scss" scoped>
.welcome-wrapper {
  background: #42446e;
}
.hero-content {
  margin: auto 80px;
  padding: 40px 0 40px 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.left-hero-side {
  max-width: 480px;
  padding-right: 16px;
}
.right-hero-side {
  width: 60%;
}
.hero-title {
  font-size: 44px;
  color: inherit;
  margin-bottom: 32px;
  text-align: left;
  line-height: 100%;
}
.hero-description {
  font-size: 20px;
  text-align: left;
  line-height: 100%;
  margin-bottom: 16px;
  font-weight: 300;
}
img {
  /* border-radius: 56% 48% 53% 56% / 70% 50% 58% 41%;*/
  border-radius: 50% 26% 51% 51%/62% 74% 35% 40%;
  width: 700px;
  height: 500px;
}
</style>
