<template>
  <div class="home">
    <WelcomeSection />
    <CardsSection />
  </div>
</template>

<script>
import WelcomeSection from "@/components/WelcomeSection/WelcomeSection.vue";
import CardsSection from "@/components/CardsSection/CardsSection.vue";
export default {
  components: {
    WelcomeSection,
    CardsSection,
  },
};
</script>

<style scoped></style>
<!--<script lang="ts">-->
<!--// import { Options, Vue } from "vue-class-component";-->

<!--// @Options({-->
<!--//   components: {-->
<!--//-->
<!--//   },-->
<!--// })-->
<!--// export default class HomeView extends Vue {}-->
<!--</script>-->
