/* eslint-disable */

<template>
  <div id="navbar" class="navbar">
    <div class="navbar-content">
      <div class="app-logo">
        <router-link to="/">
          <img :src="logoSrc" alt="logo-relocation" />
        </router-link>
      </div>
      <nav class="app-nav">
        <div class="nav-item"><router-link to="/" class="nav-link">Home</router-link></div>
        <div class="nav-item"><router-link to="/about" class="nav-link">About</router-link></div>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      logoSrc: require("@/assets/bglogo.png"),
    };
  },
};
</script>

<style scoped>
.navbar {
  height: 80px;
  background: #0d0f45;
  display: flex;
  align-items: center;
  font-weight: 500;
  border-bottom: 1px solid rgba(194, 224, 255, 0.08);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  /*padding: 30px;*/
}
.navbar-content {
  width: 100%;
  margin: auto 80px;
  padding: 0 0 0 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.app-logo {
  width: 60px;
  height: 60px;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

img {
  border-radius: 56% 48% 53% 56% / 70% 50% 58% 41%;
}
.app-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-item {
  padding: 0 16px;
}
nav a {
  font-weight: bold;
  /*color: #2c3e50;*/
}

nav a.router-link-exact-active,
nav a.router-link-exact-active::after {
  color: #42b983;
}

.nav-link {
  /*padding: 8px 16px;*/
  position: relative;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #fff;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.nav-link:hover::after {
  transform: translate3d(0, 0, 0);
  background-color: #fff;
}
.nav-link:focus::after {
  transform: translate3d(0, 0, 0);
  background-color: #42b983;
}
</style>
