/* eslint-disable */

<template>
  <div id="footer" class="app-footer">
    <div class="footer-content">here is footer</div>
  </div>
</template>

<style scoped>
.app-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  padding: 20px 80px;
  background-color: #fffaf2;
  position: relative;
  bottom: 0;
  font-size: 14px;
  color: #0d0f45;
}
.footer-content {
}
</style>
