/* eslint-disable */

<template>
  <div>
    <DesktopNavbar />
    <div class="app-content">
      <router-view />
    </div>
  </div>
  <DesktopFooter />
</template>

<script>
import DesktopNavbar from "@/components/Navbar/DesktopNavbar";
import DesktopFooter from "@/components/Footer/DesktopFooter";
import "./assets/tailwind.css";
export default {
  components: {
    DesktopNavbar,
    DesktopFooter,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /*color: #2c3e50;*/
  /*color: #0d0f45;*/
  color: #f6f6f6;
  font-size: 16px;
  line-height: 100%;
}

.app-content {
  /*background: #42446e;*/
  min-height: calc(100vh - 142px);
}
</style>
